@import url('https://fonts.googleapis.com/css?family=Open+Sans:300|Roboto:300')
@import url('vendor.css')

html
    font-family 'Open Sans', sans-serif

    h1,h2,h3,h4,h5,h6
      font-family Roboto, sans-serif
